@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" );
@import"https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&display=swap";
/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}


body {font-family: 'Pretendard', sans-serif; }
.tit{font-size: clamp(0.6rem , 0.8vw, 0.9rem); font-weight: 600; font-family: 'Noto Sans KR', sans-serif; color: rgba(0,0,0,0.9); letter-spacing: 0;}
.text{ font-family: "Niramit", sans-serif; font-style: italic; letter-spacing: -0.03em; line-height: 1.24; font-weight: 400;}
.subtext{font-size: clamp(0.7rem , 0.94vw, 1.4rem); font-family: 'Noto Sans KR',sans-serif;     color: rgba(255,255,255,0.6); font-weight: 400; }
.btn {
    border-radius: clamp(1px, 4.4vw, 26px);
    width: clamp(50px, 7.8vw, 135px);
    height: clamp(12px, 2.8vw, 39px);
    border: none;
    font-size: clamp(0.42rem ,0.9vw, 1.05rem);
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    letter-spacing: -0.02em;
    cursor: pointer;
    color: #000000;
    display: flex; justify-content: center; align-items: center;
    background: transparent; transition: background-color .3s;
}



.wrap{height: auto;}
.header{width: 100%; height: 80px; position: fixed; top: 0; left: 0; z-index: 100; background: rgba(255,255,255,0.5);  transition: background-color 0.3s; }
.black-header.header {background: rgba(0,0,0,0.5);}
.black-header.header h2 {color: white;}
.black-header.header .logo img {
  filter: invert(1);  /* 검정 → 흰색으로 보이게 */
}
.black-header.header .header-inner .open-icon {
  filter: invert(1);  /* 검정 → 흰색으로 보이게 */
}
.header span{display: block; width: 100%; height: 27px; background: #1f1f1f;}
.header .header-inner{
    width: 94%; display: flex; justify-content: space-between;  margin: 0 auto; align-items: center; height: 53px;  
}
.header .header-inner .logo a{display: flex; align-items: center;}
.header .header-inner .logo a h2{font-size: 28px; font-family: "Harmattan", sans-serif; font-weight: 800; letter-spacing: -1px; }
.header .header-inner .logo{width: 100px; height: 30px; margin-top: -5px;}
.header .header-inner .logo img{width: 100%; height: 100%; display: block; }
.header .header-inner  .open-icon{width: 43px; height: auto;  }
.header .header-inner .open-icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.header .header-inner  .close-icon{width: 38px; height: auto; position: absolute; right: 50px; top: 20px; }
.header .header-inner .close-icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.header .header-inner .gnb{ width: 500px; height: 100vh; background: black; position: absolute; top: 27px; right: -100%; transition: all 0.8s; padding: 7% 4%;}
.header .header-inner .gnb.on{right: 0;}
.header .header-inner .gnb .main-menu.on{  display: none;}
.header .header-inner .gnb .main-menu .main-item{ padding: 10px 15px;  color: #fff; margin-bottom: 25px; 
} 
.header .header-inner .gnb .main-menu .main-item> a{font-size: clamp(1.4rem, 2.4vw, 3.2rem); font-family: "Niramit", sans-serif;  letter-spacing: 0; font-style: italic;}

.header .header-inner .gnb .main-menu .main-item .sub-item> a:hover:after{
  width: 100%;
}
.header .header-inner .gnb .main-menu .sub-menu{margin-top: 3px;}
.header .header-inner .gnb .main-menu .sub-menu .sub-item { padding: 7px 5px; display: none; }
.header .header-inner .gnb .main-menu .sub-menu .sub-item.on{display: block;}
.header .header-inner .gnb .main-menu .sub-menu li a{font-size: clamp(1rem, 1.2vw, 1.2rem); font-weight: 300; position: relative; }
.header .header-inner .gnb .main-menu .sub-menu li a:after{content: ''; width:0; height: 1px; background: #fff; position: absolute; bottom: 0; left: 0; transition: width 0.3s;}
.visual{width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;  /* position: sticky; top: 0;  z-index: -1;  */margin-top: 40px; background: white; }
.visual .visual-inner{width: 92%; margin: 0 auto;  text-align: center; }
.visual .visual-inner p{font-size: clamp(0.5rem, 8vw, 9.3rem); width: 100%; text-transform: uppercase; line-height: 1.1; letter-spacing: -2px; display: flex; justify-content: center; align-items: center;}
.visual .visual-inner p span{display: inline-block; width: clamp(40px, 18vw, 256px); aspect-ratio: 256 / 114;
margin: 0 6px; }
.visual .visual-inner p span img{width: 100%; height: 100%;  display: block; object-fit: cover; }


.profile{width: 100%; height: auto; padding: 100px 0;  background: black;}
.profile .profile-inner{width: 74.6%; margin: 0 auto;}
.profile .profile-inner .textBox{width: 100%; display: flex; flex-direction: column; align-items: center; font-family: "Noto Sans", sans-serif;}
.profile .profile-inner .text{text-align: center; color: #fff; font-size: clamp(1.2rem, 2.38vw, 3.2rem); letter-spacing: -0.04em; word-break: keep-all; font-weight: 300;}
.profile .profile-inner .subtext{
    text-align: center; 
    margin-top: 1.4%;
    margin-bottom: 2.8%;
    font-weight: 300;
    word-break: keep-all;
}
.profile .profile-inner .btn:hover{background: rgb(233, 234, 236) !important;}


.content{width: 100%; height: auto; padding: 150px 0 190px;  background: white; position: relative;}
.content .inner{width: 80%; margin: 0 auto;  }
.content .inner .list{width: 50%; }
.content .inner .list li{margin-bottom: 4.7%; position: relative;}
.content .inner .list li p{  position: absolute; inset: 0; background: rgba(0,0,0,0.5); width: 100%; height: 100%; border-radius: 15px; display: none; }
.content .inner .list li p span{top: 50%; left: 50%; transform: translate(-50%,-50%); position: absolute;  color: #fff; font-size: 60px; font-family: 'Baskervville',serif; letter-spacing: 0; font-style: italic; font-weight: 600; text-transform: uppercase;}
.content .inner .list li p.on{display: block;}



.content .inner .list li img{width: 100%; height: auto; display: block; object-fit: cover; border-radius: 15px; }
.content .inner .textBox{ position: absolute; top: 16%; right: 0; width: 44%; height: 79%; letter-spacing: -0.02em; color: #111;}
.content .inner .textBox_inner {position: sticky; top: 50%; transform: translateY(-50%);}
.content .inner .textBox .tit{ margin-bottom: 2.5%;}
.content .inner .textBox .text{ font-size: clamp( 1.1rem, 2.05vw,2.6rem); margin-bottom: 1.8%;  }
.content .inner .textBox .subtext{margin-bottom:5.8% ; font-size: clamp(0.6rem , 0.99vw, 1.4rem); color: rgba(0,0,0,0.6);}
.content .inner .textBox .btn{ color: #fff; background: transparent; font-weight: 500;}
.content .inner .textBox .btn:hover{background: #121212 !important}


.favorites{width: 100%; height: auto; background: black; padding: 95px 0 15%; position: relative; }
.favorites .inner{width: 74.6%; margin: 0 auto; }
.favorites .inner .textBox{color: #fff; margin-top: -30px; }
.favorites .inner .textBox .tit{ margin-bottom: 1.5%; color: rgba(255,255,255,0.8); font-weight: 500;}
.favorites .inner .textBox .text{ font-size: clamp( 1.1rem, 2.2vw,2.31rem); margin-bottom: 1%;}
.favorites .inner .textBox .subtext{margin-bottom: 2%; font-weight: 300;}
.favorites .inner .imgBox{width: 74.6%; aspect-ratio: 1291/ 340; margin-top: 40px; position: absolute; left: 50%; transform: translateX(-50%);  bottom: -28%;}
.favorites .inner .imgBox .imgBox-inner{display: flex; width: 100%; justify-content: space-between;}
.favorites .inner .imgBox .img{width: clamp(150px, 24vw, 450px); height: auto; border-radius: 15px; overflow: hidden; position: relative; transition: all 0.4s; }
.favorites .inner .imgBox .img img{display: block; width: 100%; height: 100%;  object-fit: cover;transition: all 0.4s;}
.favorites .inner .imgBox .img p{ color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);  font-size: clamp(0.6rem ,2vw, 2.2rem);  font-family: "Montserrat", sans-serif; font-weight: 600; letter-spacing: -0.01em; transition: all 0.4s;}
.favorites .inner .imgBox .img:hover .overlay, .favorites .inner .imgBox .img:hover p{display: block;}
.favorites .inner .btn:hover{background: rgb(233, 234, 236) !important;}
.favorites .inner .img a:hover img{transform: scale(1.2); transition: all 1s;}
.favorites .inner .img a:hover p{letter-spacing: 4px; transition: all 1s;}


.favorites .inner .imgBox .img:nth-child(1).motion{
  animation: slideleft 1s ease forwards;
}
.favorites .inner .imgBox .img:nth-child(2).motion{
  animation: slideleft 1.1s ease forwards;
}
.favorites .inner .imgBox .img:nth-child(3).motion{
  animation: slideleft 1.2s ease forwards;
}


@keyframes slideleft {
   0%{opacity: 0; transform: translateX(1000px);}
    30%{opacity: 0; transform: translateX(1000px);}
}

.community-sub{padding-top: 26%;  height: auto; z-index: 100; background: #fff;}
.community-sub .inner{width: 74.6%; margin: 0 auto; display: flex;}
.community-sub .inner .imgBox{ width: clamp(200px,33vw, 660px); aspect-ratio: 649/669; margin-right: 6.3%; transition: all 0.4s; }
.community-sub img{width: 100%; height: 100%; display: block; object-fit: cover; border-radius: 15px;}
.community-sub .inner .textBox{margin-top: 10px;}
.community-sub .inner .textBox .tit{margin-bottom: 10px;}
.community-sub .inner .textBox .text{ font-size: clamp(0.9rem, 2.08vw, 3.2rem); margin-bottom: 3%;}
.community-sub .inner .textBox .subtext{color: rgba(0,0,0,0.6);}
.community-sub .inner .textBox .btn{ margin-top: 6.6%; color: #fff;  font-weight: 500;background: transparent; transition: background-color .3s;}
.community-sub .inner .textBox .btn:hover{background: #161616 !important}
.community-sub .inner .imgBox.motion {animation: slideright 1.2s ease forwards;}

@keyframes slideright {
  0%, 30%{
    opacity: 0;
    transform: translateX(-1000px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

.community{width: 100%; height: auto; background: #000; margin-top: -7%; padding: 14.4% 0; z-index: 100;  }
.community .inner{width: 74.6%; margin: 50px auto 0;  }
.community .inner h2{color: #fff; font-size: 32px ;font-family: 'Noto Sans',sans-serif; font-weight: 500; text-align: center;}
.community .inner ul{display: flex; width: 100%; justify-content: space-between; margin-top: 5.4%;}
.community .inner ul li{width: 23%;}
.community .inner ul li .imgBox{ width: clamp(140px, 17.6vw, 345px); aspect-ratio: 339/349; overflow: hidden;  }
.community .inner ul li .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 15px;}
.community .inner ul li .textBox{ color: #fff; margin-top: 8%;font-family: 'Noto Sans',sans-serif; }
.community .inner ul li .textBox .title{font-size: clamp(0.9rem ,1.2vw, 1.4rem); margin-bottom: 16px; word-break:keep-all; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;   overflow: hidden; word-break:keep-all; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;   overflow: hidden;}
.community .inner ul li .textBox .txt{color: rgba(255,255,255,0.6);  font-weight: 300;word-break:keep-all; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;   overflow: hidden; font-size: clamp(0.7rem, 0.9vw, 1.2rem);}




.footer{width: 100%;  background: #0f0f0f;  color: #fff; }
.footer .inner{ width: 86%; margin: 0 auto; padding: 40px 0;  display: flex; justify-content: space-between; align-items: flex-start;}
.footer .inner .email{font-weight: 300; color: rgba(255,255,255,0.6); line-height: 1.5; font-size: clamp(0.8rem ,0.9vw, 1.2rem);  margin-top: 90px; } 
.footer .inner ul{display: flex; width: 25%; justify-content: space-between; }
.footer .inner ul li{font-size: clamp(0.8rem ,1vw, 1.2rem);  }
.footer .inner ul li a{z-index: 10;}


.textBox.motion .word {
     animation: textAni 0.8s both;
     animation-delay: calc(0.02s * var(--word-index));
}
@keyframes textAni {
    0% {opacity: 0;}
    30% {opacity: 0;}
}



.community-sub .btn.motion , .content .textBox .btn.motion{
  animation: btnAni1 0.6s ease forwards; animation-delay: 0.4s;
}
.favorites .btn.motion, .profile .btn.motion{
  animation: btnAni2 0.6s ease forwards; animation-delay: 0.4s;
}
@keyframes btnAni1{
  0% {background-color:transparent;}
  60% {background-color:transparent;}
    100% {background-color:#000;}
}
@keyframes btnAni2{
  0% {background-color:transparent;}
  60% {background-color:transparent;}
    100% {background-color:#fff;}
}




@media screen and (max-width: 1500px) {
.content{padding: 120px 0 80px; }
}
@media screen and (max-width: 1400px) {
.content .inner .list{display: flex; justify-content: space-between; width: 100%; flex-wrap: wrap; margin-top: 28%; }
.content .inner .list li{width: 48%; margin-top: -3%; }
.content .inner .textBox {top: 8%; left: 10%; height: auto;  }
.content .inner .textBox_inner {position: static; top: 0; transform: translateY(0);}
.content .inner .list li p.on{display:none;}
.content .inner .list li:hover p {display: block;}
.header .header-inner .gnb{width: 400px;}
}

@media screen and (max-width: 1024px){
 .footer .inner {padding: 25px 0;}
 .footer .inner ul {width: 33%;}
 .header .header-inner .close-icon{width: 30px;}
}

@media screen and (max-width: 768px){
  .header .header-inner .gnb{width: 300px;}
  .header .header-inner .logo{width: 80px; height: 24px; }
  .header .header-inner .open-icon{width: 38px; }
  .visual{height: 80vh;}
  .content .inner .list li:hover p {display: none;}
  .content .inner .textBox .text{width: 400px;}
  .content .inner .textBox .subtext{width: 400px;}
  .content .inner .list{ margin-top: 32%; }
   .footer .inner {padding: 25px 0;}
 .community .inner ul {flex-wrap: wrap; width: 100%; align-items: center; text-align: left;}
 .community .inner ul  li{width: 48%; margin-bottom: 30px;}
 .community .inner ul li .imgBox{ width: 100%; aspect-ratio: 339 / 200;}
   .footer .inner {padding: 18px 0;}
 .footer .inner ul {width: 45%;}
 .favorites .inner .imgBox .img{width: 32%;}
 .community .inner h2{font-size: 26px;}
}

@media screen and (max-width: 590px){
  .header .header-inner .close-icon{width: 24px;}
  .header .header-inner .open-icon{width: 32px; }
 .favorites .inner .imgBox{ position: static; transform: translateX(0); margin-top: 30px; width: 100%; }
 .favorites .inner .imgBox .imgBox-inner{display: block; width: 100%;}
 .favorites .inner .imgBox .img{width: 100%; margin-bottom: 20px;}
 .favorites .inner .imgBox .img p{font-size: clamp(0.6rem, 4vw, 4.2rem);}
  .favorites .inner .imgBox .img:nth-child(1).motion{ animation: none;}
  .favorites .inner .imgBox .img:nth-child(2).motion{ animation: none;}
  .favorites .inner .imgBox .img:nth-child(3).motion{ animation: none;}
  .favorites .inner .img a:hover img{transform: none; }
.favorites .inner .img a:hover p{letter-spacing: 0px;}
.community .inner h2{font-size: 20px;}
.community-sub{padding-top:10% ;}
.community-sub .inner .imgBox.motion {animation: none;}
.community-sub .inner{flex-direction: column-reverse;}
.community-sub .inner .imgBox{width: 100%; height: 30%; margin-top: 12px;}
.community-sub .inner .textBox .text {font-size: clamp(1rem, 1.6vw, 2.2rem)}
.community-sub .inner .textBox .btn{margin-top: 4.6%;}
 .footer .inner {padding: 18px 0;}
 .footer .inner ul {display: block; text-align: right;}
 .footer .inner ul  li{margin-bottom: 5%;}
 .footer .inner .email{width: 600px;}
}